<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build_terrain_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,128},{188,104}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{188,104}}</string>
                <key>sourceSize</key>
                <string>{208,108}</string>
            </dict>
            <key>buildbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{88,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,8}}</string>
                <key>sourceSize</key>
                <string>{88,8}</string>
            </dict>
            <key>buildbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,128},{96,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,16}}</string>
                <key>sourceSize</key>
                <string>{96,16}</string>
            </dict>
            <key>gui_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{292,294}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>portraits_sc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{92,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,86}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>portraits_towers_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,732},{72,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{72,68}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>portraits_towers_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,692},{72,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{72,68}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>portraits_towers_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,622},{72,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{72,68}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>portraits_towers_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{72,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{72,68}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>range_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>special_icons_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,646},{116,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,108}}</string>
                <key>sourceSize</key>
                <string>{116,108}</string>
            </dict>
            <key>special_icons_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,622},{116,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,108}}</string>
                <key>sourceSize</key>
                <string>{116,108}</string>
            </dict>
            <key>tower_constructing_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{130,84}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,103},{130,84}}</string>
                <key>sourceSize</key>
                <string>{204,192}</string>
            </dict>
            <key>tower_constructing_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,360},{130,60}}</string>
                <key>offset</key>
                <string>{-9,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,105},{130,60}}</string>
                <key>sourceSize</key>
                <string>{212,180}</string>
            </dict>
            <key>tower_constructing_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,574},{124,70}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,66},{124,70}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>tower_constructing_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,492},{128,72}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,97},{128,72}}</string>
                <key>sourceSize</key>
                <string>{216,180}</string>
            </dict>
            <key>tower_preview_archer.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,234},{182,124}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,48},{182,124}}</string>
                <key>sourceSize</key>
                <string>{212,180}</string>
            </dict>
            <key>tower_preview_artillery.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{198,124}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{198,124}}</string>
                <key>sourceSize</key>
                <string>{204,192}</string>
            </dict>
            <key>tower_preview_barrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,360},{164,122}}</string>
                <key>offset</key>
                <string>{-21,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,52},{164,122}}</string>
                <key>sourceSize</key>
                <string>{216,180}</string>
            </dict>
            <key>tower_preview_mage.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,484},{152,136}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{152,136}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>commons.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf87e81de190ad7e1dc6ac1be3351d22:964886dd8006e065605826e519f66f73:deb6c3f48417474924e0e70927dcb290$</string>
            <key>textureFileName</key>
            <string>commons.png</string>
        </dict>
    </dict>
</plist>
